<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang= "es">
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav th:fragment="navigation">
		<ul>
			<li><a th:href="@{../index}">Index</a></li>
			<li><a th:href="@{../productos}">Productos</a></li>
			<li><a th:href="@{../servicioDePaseos/listado}">Servicio de paseos</a></li>
			<li><a th:href="@{../consejoSalud}">Consejos de Salud</a></li>
			<li><a th:href="@{../sucursales}">Sucursales</a></li>
			<li><a th:href="@{../contacto}">Contactenos</a></li>
		</ul>
	</nav>
</body>
</html>