<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang= "es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="@{/css/estilos.css}">
</head>
	<body>
		<ul class="nav justify-content-center" th:fragment="navigation">
	  <li class="nav-item">
	    <a class="nav-link" aria-current="page" th:href="@{../index}">Inicio</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" th:href="@{../producto/productos}">Productos</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" th:href="@{../servicioDePaseos/listado}">Servicios</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" th:href="@{../ConsejoSalud/listado}">Consejos</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" th:href="@{../sucursales/listado}">Sucursales</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" th:href="@{../contacto/contacto}">Contacto</a>
	  </li>
	</ul>
	</body>
</html>