<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang= "es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/css/estilos.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
	<title>Consejos de Salud</title>
</head>
<body>
	<div class="encabezado">
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/navigation :: navigation}"></nav>
	</div>
	<div id="container-salud">
		<section class="seccion-salud"  >
			<div class="container">
				<h2>CONSEJOS DE SALUD</h2>
				<div class="contenedor" style="margin-top: 3%; text-align:left; ">
					<a th:href="@{/ConsejoSalud/nuevo_consejo}" class="btn btn-warning" >Nuevo Consejo</a>
				</div>
				<article class="articulo-salud" th:each="consejo : ${listaConsejo}">
					<div class="card mb-3">
				  		<img alt="aca una imagen" th:src="@{${consejo.img}}" >
				 	 	<div class="card-body">
				    		<h5 class="card-title" th:text="${consejo.titulo}">Card title</h5>
				    		<p class="card-text" th:text="${consejo.descripcion}"></p>
						<div class="d-grid gap-2 d-sm-flex justify-content-sm-end">
  							<a class="btn btn-primary btn-sm" th:href="@{/ConsejoSalud/modificar_consejo/}+${consejo.id}" role="button">Modificar</a>
  							<a class="btn btn-danger btn-sm" th:href="@{/ConsejoSalud/eliminar_consejo/}+${consejo.titulo}" onclick="return confirm('¿Estás seguro de que deseas eliminar este consejo?')"role="button">Eliminar</a>
						</div>

				  		</div>
					</div>
				</article>
			</div>
		</section>
		
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</div>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>