<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../static/css/estilos2.css">
<link rel="preconnect" href="https://fonts.googleapis.com%22%3E/
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

<title>Consejos de Salud</title>
</head>
<body>
	<div id="container-salud">
		<header>
		
			<img src="../static/images/logoUnju.png" alt="Logo de la facultad" title="Logo" width="480" height="180">
			<h1>Consejos de Salud</h1>
			
		</header>
		<nav>
			<ul>
				<li><a href="index.html">Index</a></li>
				<li><a href="Productos.html">Productos</a></li>
				<li><a href="ServicioDePaseos.html">Servicio de paseos</a></li>
				<li><a href="consejoSalud.html">Consejos de Salud</a></li>
				<li><a href="sucursales.html">Sucursales</a></li>
				<li><a href="Contacto.html">Contáctenos</a></li>
			</ul>
		</nav>
			
		<section class="seccion-salud"  >
			<h2>Consejos de salud para perros y gatos</h2>
			<article class="articulo-salud">
				<div class="parte-1">
					<img alt="aca una imagen" src="../static/images/saludMascotas4.jpg" >
				</div>
				<div class="parte-2">
					<h3>La importancia de desparasitar a su paciente felino, incluso si no sale de casa</h3>
					<p>Los felinos, al igual que todos los animales de compañía e incluso los humanos, son 
					afectados por una amplia gama de parásitos. Por definición, el parásito produce
					efectos dañinos en su hospedador y se considera que aquellos que viven en la 
					superficie externa del hospedador o en la piel, denominados ectoparásitos, 
					causan infestaciones. </p>
				</div>
			</article>
	
			<article class="articulo-salud">
				<div class="parte-1">
					<img alt="aca una imagen" src="../static/images/saludMascotas2.jpg" >
				</div>
				<div class="parte-2">	
					<h3>La importancia de la prevención parasitaria continuada</h3>
					<p>La consulta veterinaria es una oportunidad para llevar a cabo
					medicina preventiva y generar recomendaciones que pueden evitar 
					enfermedades a largo plazo en animales de compañía.
						Es un espacio para discutir acerca de los esquemas de vacunación,
					cuidados generales, nutrición, estado físico del animal y prevención
					de enfermedades. También, es una oportunidad para educar a los 
					propietarios sobre la importancia del control parasitario y la 
					selección y uso periódico de los diferentes antiparasitarios.</p>
				</div>
			</article >

			<article class="articulo-salud">
				<div class="parte-1">
					<img alt="aca una imagen" src="../static/images/saludMascotas3.jpg" >
					</div>
				<div class="parte-2">
					<h3>Manejo de la Diabetes en Perros y Gatos</h3>
					<p>La diabetes mellitus es una enfermedad endocrina que requiere un monitoreo
					continuo y ajustes en el estilo de vida de las mascotas y de sus propietarios.
					Aunque este diagnóstico puede sonar aterrador, se puede mantener una buena 
					calidad de vida para 
					las mascotas y un buen pronóstico a largo plazo siguiendo un plan de manejo
					adecuado a las necesidades de cada paciente.
					El manejo de la diabetes en perros y gatos es fundamental para evitar 
					consecuencias serias y las secuelas de esta compleja enfermedad. 
					Aunque algunos de los signos pueden variar entre perros y gatos, 
					los principios básicos de manejo clínico son similares y abarcan la 
					modificación del estilo de vida de las mascotas y el tratamiento con 
					insulina a largo plazo.</p>
				</div>
			</article>

			<article class="articulo-salud">
				<div class="parte-1">
					<img alt="aca una imagen" src="../static/images/saludMascotas5.jpg" >
				</div>
				<div class="parte-2">
					<h3>Alimentación acorde para tu mascota</h3>
					<p>Sea cual sea el tipo de comida que le vas a dar, asegúrate de elegirla con 
					ayuda de tu veterinario y de brindarle una alimentación sana y balanceada.🍪 
					Siempre debe tener agua fresca y limpia y es importante que laves sus platos 
					diariamente. </p>
				</div>
			</article>
			
			<article class="articulo-salud">
				<div class="parte-1">
					<img alt="aca una imagen" src="../static/images/saludMascotas6.jpg" >
				</div>
				<div class="parte-2">
					<h3>Limpieza y cuidados ‘beauty’ 🚿</h3>
					<p>Que tu peludo goce de una buena salud también dependerá de que lo mantengas 
					limpio, libre de pulgas y garrapatas En el caso de los perros, Mark Lee recomienda 
					prestarle atención al cepillado el cual dependerá del pelo de tu mascota y del baño. 
					🐶“Es importante bañar a tu perro una vez al mes usando productos para él, pues su 
					pH es diferente del tuyo. Por su seguridad y bienestar no utilices con él productos 
					para humanos: ni champú ni crema delantal”, afirmó en el libro ‘Mi sabiduría canina’ 
					de Editorial Planeta. </p>
				</div>
			</article>
			<article class="articulo-salud">
				<div class="parte-1">
					<img alt="aca una imagen" src="../static/images/saludMascotas7.jpg" >
				</div>
				<div class="parte-2">
					<h3>Ejercicio para peludos 🐾</h3>
					<p>Independientemente de su raza todos los perros y gatos necesitan ejercicio, por 
					lo que es importante buscar opciones de diversión a su lado. 🧶 En el caso de los 
					perros, contempla opciones como trotar a su lado, jugar con la pelota o con un frisby… 
					🐶¿Y los gatos? 😺Una buena idea es darle juguetes llamativos (bolas de ping pong o 
					ratones de tela) para que interactúen con ellos. Recuerda que en Jelpit hacemos que 
					tu vida y la de tus peluditos fluyan.💜 </p>
				</div>
			</article>
				<article class="articulo-salud">
				<div class="parte-1">
					<img alt="Aca una imagen" src="../static/images/saludMascotas1.jpg" >
				</div>
				<div class="parte-2">	
					<h3>Manejo y tratamiento de la incontinencia urinaria en perras</h3>
					<p>Si bien es cierto que la incontinencia urinaria en los perros 
					hembra es una condición que causa gran frustración en los dueños 
					y médicos veterinarios, el uso de herramientas diagnósticas adecuadas 
					puede contribuir a identificar la causa de esta condición, abriendo la
					puerta a varias opciones de tratamiento para un manejo exitoso. Este 
					artículo se centrará en el caso de las hembras, pues se consideran 
					población de riesgo, especialmente en razas grandes posterior a la 
					esterilización (Incidencia 11-20 %). 
					</p>
					<h4>¿Que es la incontinencia urinaria?</h4>
					<p>Es un tipo de trastorno de la micción que se caracteriza por la 
					pérdida involuntaria de la orina de forma constante o intermitente.
					Los tutores de animales con incontinencia pueden reportar goteo de 
					orina de volumen variable, humedad en el pelaje alrededor de la vulva,
					que puede ocasionar irritación con cambios en la sensibilidad de 
					esta área pudiendo producir inflamación. También es posible que la 
					única evidencia de la condición sean las manchas de orina en el 
					suelo.
					</p>
					   
					<h4>¿Cómo se llega al diagnóstico?</h4>
					<p>El primer paso consiste en diferenciar entre incontinencia en 
					perros y otras condiciones que causan poliuria, polaquiuria, nocturia,
					o problemas de comportamiento asociados a la micción involuntaria. 
					Durante la evaluación diagnóstica del paciente es necesario determinar 
					si se trata de una condición congénita o adquirida, esta última a su 
					vez, puede clasificarse en neurogénica o no neurogénica. 
					<br><br>
					La evaluación debe incluir la anamnesis, el examen físico completo 
					(énfasis en evaluación neurológica), uroanálisis (tomado por cistocentesis 
					o cateterización), cuadro hemático, químicas sanguíneas y apoyarse de 
					imágenes diagnósticas específicas según el diagnóstico presuntivo.
					</p>
				</div>
			</article>
		</section>
		
		<footer>
			<p>Copyright 2023 - El mundo de las mascotas - Diseñado por Grupo 01 -
	        Jujuy - República Argentina</p>
		</footer>
	</div>
</body>
</html>