<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="es">

<head>
	<meta charset="UTF-8">
	<title>Contacto</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/estilos.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="encabezado">
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/navigation :: navigation}"></nav>
	</div>
	<div class="bodyContacto" style="text-align: center">
		<div class="contacto">
			<!-- Título-->
			<h1>Contáctenos</h1>
			<!-- Información para contactarnos-->
			<p>3915 Av. General Belgrano. 388-4999999<br>
				Lunes a Viernes: 9:00 a.m a 8:00 p.m<br>
				Sábado a Domingo: 9:00 a.m a 12:30 p.m<br>
				<a href="www.google.com">contactos@mail.com.ar</a>
			</p>
			<ul class="redes-sociales">
				<li><a href="www.facebook.com">Facebook</a></li>
				<li><a href="www.instagram.com">Instagram</a></li>
				<li><a href="www.twitter.com">Twitter</a></li>
			</ul>
			<hr>
			<!-- Formulario  -->
			
			<form th:action="@{/contacto/guardarMensaje}" th:object="${Contacto}" method="post">
			<div class="mb-3">	
				<label for="Nombre" class="form-label">Nombre</label>
				<input type="text" class="form-control" th:field="*{nombre}" id="nombre" name="nombre" placeholder="Ingrese su nombre">
				<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
				</div>

				<div class="mb-3">
				<label for="Email" class="form-label">Email</label>
				<input type="email" class="form-control" th:field="*{email}" id="email" name="email" placeholder="Ingrese su email">
				<div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
				</div>	
					

				<div class="mb-3">
				<label for="Ciudad" class="form-label">Ciudad</label>
				<input type="text" class="form-control" th:field="*{ciudad}" id="Ciudad" name="ciudad" placeholder="Ingrese su ciudad">
				<div class="text-danger" th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}"></div>
				</div>

				<div class="mb-3">
				<label for="mensaje" class="form-label">Mensaje</label>
				<textarea id="mensaje"  class="form-control" th:field="*{mensaje}" name="mensaje"></textarea>
				<div class="text-danger" th:if="${#fields.hasErrors('mensaje')}" th:errors="*{mensaje}"></div>
				</div>

				<input type="submit" value="Guardar">
			</form>	
		</div>
	</div>

 

	<footer th:replace="~{layouts/footer :: footer}"></footer>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>