<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Contacto</title>
    <style>
        form label,
        form input,
        form textarea {
            margin-bottom: 20px;
        }

    </style>
</head>
<body>
    <div style="border: 2px solid black; padding: 10px;margin-right: 65%; "">
        <!-- Título-->
        <h1>Contáctenos</h1>
        <!-- Informacion para contactarnos-->
        <p>3915 Av. General Belgrano. 388-4999999<br>
        Lunes a Viernes: 9:00 a.m a 8:00 p.m<br>
        Sábado a Domingo: 9:00 a.m a 12:30 p.m<br>
        <a href="www.google.com">contactos@mail.com.ar</a></p>
        <ul>
            <li><a href="www.facebook.com">Facebook</a></li>
            <li><a href="www.instagram.com">Instagram</a></li>
            <li><a href="www.twitter.com">Twitter</a></li>
        </ul>

        <hr>
        <!-- Formulario-->
        <form>
            <label for="Nombre">Nombre</label>
            <input type="text" id="nombre" name="Ingrese su nombre" placeholder="Ingrese su nombre"><br>

            <label for="Email">Email</label>
            <input type="email" id="email" name="Ingrese un email válido" placeholder="Ingrese un email válido"><br>

            <label for="Ciudad">Ciudad</label>
            <input type="text" id="Ciudad" name="Ingrese su ciudad" placeholder="Ingrese su ciudad"><br>

            <label for="mensaje">Mensaje</label><br>
            <textarea id="mensaje" name="Mensaje"></textarea><br>

            <input type="submit" value="Enviar">
        </form>
    </div>
    <footer style="margin-top:50px; align-text:center;">Copyright 2023 - Nombre del sitio - Diseñado por Grupo 01 – Jujuy – República Argentina</footer>

</html>