<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="es">

<head>
	<meta charset="UTF-8">
	<title>Contacto</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/estilos.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="encabezado">
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/navigation :: navigation}"></nav>
	</div>
	<div class="bodyContacto" style="text-align: center">
		<div class="contacto">
			<!-- Título-->
			<h1>Contáctenos</h1>
			<!-- Información para contactarnos-->
			<p>3915 Av. General Belgrano. 388-4999999<br>
				Lunes a Viernes: 9:00 a.m a 8:00 p.m<br>
				Sábado a Domingo: 9:00 a.m a 12:30 p.m<br>
				<a href="www.google.com">contactos@mail.com.ar</a>
			</p>
			<ul class="redes-sociales">
				<li><a href="www.facebook.com">Facebook</a></li>
				<li><a href="www.instagram.com">Instagram</a></li>
				<li><a href="www.twitter.com">Twitter</a></li>
			</ul>
			<hr>
			<!-- Formulario-->
			<form th:action="@{/contacto/guardarMensaje}" th:object="${Contacto}" method="post">
			<div class="mb-3">	
				<label for="Nombre" class="form-label">Nombre</label>
				<input type="text" class="form-control" th:field="*{nombre}" id="nombre" name="nombre" placeholder="Ingrese su nombre"
				th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''">
				<p class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>
				</div>

				<div class="mb-3">
				<label for="Email" class="form-label">Email</label>
				<input type="email" class="form-control" th:field="*{email}" id="email" name="email" placeholder="Ingrese su email"
				th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''">
				<p class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
				</div>	
					

				<div class="mb-3">
				<label for="Ciudad" class="form-label">Ciudad</label>
				<input type="text" class="form-control" th:field="*{ciudad}" id="Ciudad" name="ciudad" placeholder="Ingrese su ciudad"
				th:classappend="${#fields.hasErrors('ciudad')} ? 'is-invalid' : ''">
				<p class="form-text text-danger" th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}"></p>
				</div>

				<div class="mb-3">
				<label for="mensaje" class="form-label">Mensaje</label>
				<textarea id="mensaje"  class="form-control" th:field="*{mensaje}" name="mensaje"
				th:classappend="${#fields.hasErrors('mensaje')} ? 'is-invalid' : ''">
				<p class="form-text text-danger" th:if="${#fields.hasErrors('mensaje')}" th:errors="*{mensaje}"></p></textarea>
				</div>

				<input type="submit" value="Guardar">
			</form>
		</div>
	</div>










	<div class="container"><br>
		<form class="container rounded" style="background-color: #F5F5F5" th:action="@{/contacto/guardarMensaje}"
			th:object="${Contacto}" method="post">





			<div class="mb-3">
				<label for="Nombre" class="form-label" style="display: block; font-weight: bold;">Nombre:</label>
				<input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" >

			</div>

			<div class="mb-3">
				<label for="Email" style="display: block; font-weight: bold;">Email</label>
				<input type="email" id="email" name="email" th:field="*{email}" class="form-control">

			</div>
	</div>

	<div class="mb-3">
		<label for="Ciudad" style="display: block; font-weight: bold;">Ciudad</label>
		<input type="text" id="Ciudad" name="ciudad" th:field="*{ciudad}" class="form-control">
	</div>

	<div class="mb-3">
		<label for="mensaje" style="display: block; font-weight: bold;">Mensaje</label>
		<textarea id="mensaje" name="mensaje" th:field="*{mensaje}" class="form-control"></textarea>

	</div>


	<div class="d-grid gap-2 d-md-flex justify-content-md-end">
		<button type="submit" class="btn btn-success" th:text="${edicion}?'Modificar':'Guardar'"></button>
		<a class="btn btn-secondary " role="button" th:href="@{/producto/volver}">Cancelar</a>
	</div>
	</form>









	<footer th:replace="~{layouts/footer :: footer}"></footer>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>