<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Index</title>
		<style>
			html {
				text-align:center
			}
		</style>
	</head>
	<body>
		<nav>
			<a href="index.html">Index</a> |
			<a href="Productos.html">Productos</a> |
			<a href="ServicioDePaseos.html">Servicio de Paseos</a> |
			<a href="consejoSalud.html">Consejos de Salud</a> |
			<a href="sucursales.html">Sucursales</a> |
			<a href="Contacto.html">Contáctenos</a>
		</nav>
		<header>
			<h1>Trabajo Práctico 2 - Programación Visual</h1>
		</header>
		<img scr="./static/imagenesIndex/logoUnju.png" alt="Logo de la facultad" title="Logo">
	</body>
</html>