<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang= "es">
	<head>
		<meta charset="UTF-8">
		<title>Index</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
		<link rel="stylesheet" th:href="@{/css/estilos.css}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="encabezado">
			<header th:replace="~{layouts/header :: header}"></header>
			<nav th:replace="~{layouts/navigation :: navigation}"></nav>
		</div>
			<div class="container-fluid" style="background:#8D7B68">
				<div class="cuerpo container">
					<div class="row justify-content-center">
						<section class="col-lg-9 col-md-12">
							<article>
								<h2>Sobre nosotros</h2>
								<p>Somos una empresa dedicada al servicio de las mascotas en distintos ámbitos.
								Nuestros rubros incluyen la venta de alimentos en distintas presentaciones para 
								todo tipo de mascotas, servicio de cuidado y paseo de perros y gatos y medicina
								veterinaria de excelente calidad.</p>
							</article>
							<article>
								<h2>Venta de alimentos</h2>
								<p>Nuestra gran variedad de alimentos tanto en presentación como en calidad le brindan
								al cliente la posibilidad de tener todo a su disposición.</p>
								<p>Le brindamos los mejores precios y ofertas todos los días.</p>
							</article>
							<article>
								<h2>Servicio de cuidado y paseo</h2>
								<p>Contamos con entrenadores certificados para el cuidado de tu compañero, como así
								el servicio de paseo en la hora que elijas.</p>
							</article>
							<article>
								<h2>Medicina veterinaria</h2>
								<p>Nuestro grupo de veterinarios 100% certificados y excelentes refernecias le asegura
								el cuidado y salud de cualquier animal doméstico.</p>
								<p>También contamos con la medicina correspondiente para tratar cualquier situación 
								en cualquier momento.</p>
							</article>
					</section>
					<aside class="col-lg-3 d-none d-lg-block"><p id="frase">"Hasta que no hayas amado a un animal, una parte de tu alma permanecerá dormida"</p><p>-Anatole France</p></aside>
				</div>
			</div>
		</div>
		<div class="piePagina">
			<footer th:replace="~{layouts/footer :: footer}"></footer>
		</div>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>	
	</body>
</html>