<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Index</title>
		<style>
			html {
				text-align:center
			}
		</style>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="index.html">Index</a></li>
				<li><a href="Productos.html">Productos</a></li>
				<li><a href="ServicioDePaseos.html">Servicio de paseos</a></li>
				<li><a href="consejoSalud.html">Consejos de Salud</a></li>
				<li><a href="sucursales.html">Sucursales</a></li>
				<li><a href="Contacto.html">Contáctenos</a></li>
			</ul>
		</nav>
		<header>
			<h1>Trabajo Práctico 2 - Programación Visual</h1>
		</header>
		<img src="../static/images/logoUnju.png" alt="Logo de la facultad" title="Logo">
	</body>
</html>