<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="es">
<head>
<meta charset="UTF-8">
<title>listaMensaje</title>
<link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>
	<div class="encabezado">
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/navigation :: navigation}"></nav>		
	</div>
         
    <div class="bodyServicios">
    	<div id="contenedorTabla">
        <table>
            <tr>
                <td id="encabezadoTabla">Nombre</td>
                <td id="encabezadoTabla">Email</td>
                <td id="encabezadoTabla">Ciudad</td>
                <td id="encabezadoTabla">Mensaje</td>
              
            <tr>
            <tr th:each="contacto : ${contacto}">
                <td style="color:white" th:text="${contacto.nombre}"></td>
                <td style="color:white" th:text="${contacto.email}"></td>
                <td style="color:white" th:text="${contacto.ciudad}"></td>
                <td style="color:white" th:text="${contacto.mensaje}"></td>
                <td>

                </td>
            <tr>
            
        </table>
    </div>
    </div>
    
   
    
    <footer th:replace="~{layouts/footer :: footer}"></footer>

</html>