<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="es">

<head>
	<meta charset="UTF-8">
	<title>listaMensaje</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/estilos.css}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="encabezado">
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/navigation :: navigation}"></nav>
	</div>

	<div class="bodyServicios container-fluid" style="text-align: center">
		<!--  
    	<div id="contenedorTabla" style="align-content: center;">
        <table style="align-content: center;">
            <tr>
                <td id="encabezadoTabla">Nombre</td>
                <td id="encabezadoTabla">Email</td>
                <td id="encabezadoTabla">Ciudad</td>
                <td id="encabezadoTabla">Mensaje</td>
              
            <tr>
            <tr th:each="contacto : ${contacto}">
                <td style="color:white" th:text="${contacto.nombre}"></td>
                <td style="color:white" th:text="${contacto.email}"></td>
                <td style="color:white" th:text="${contacto.ciudad}"></td>
                <td style="color:white" th:text="${contacto.mensaje}"></td>
				<td><a th:href="@{/contacto/eliminar_mensaje/}+${contacto.nombre}" type="submit" > Eliminar</a></td>
            <tr>
                  
        </table>
        
        -->
		<div id="contenedorTabla">
			<div class="container">
				<div class="row col-12">
					<table class="table table-hover">
						<thead>
							<tr>
								<th id="encabezadoTabla" scope="col">Nombre</th>
								<th id="encabezadoTabla" scope="col">Email</th>
								<th id="encabezadoTabla" scope="col">Ciudad</th>
								<th id="encabezadoTabla" scope="col">Mensaje</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="contacto : ${contacto}">
								<td id="formatoCelda" style="color:white" th:text="${contacto.nombre}"></td>
								<td id="formatoCelda" style="color:white" th:text="${contacto.email}"></td>
								<td id="formatoCelda" style="color:white" th:text="${contacto.ciudad}"></td>
								<td id="formatoCelda" style="color:white" th:text="${contacto.mensaje}"></td>
								<td><a class="d-none d-lg-block"
										th:href="@{/contacto/eliminar_mensaje/}+${contacto.nombre}" type="submit">
										Eliminar</a></td>
							</tr>
						</tbody>
					</table>

				</div>

			</div>

		</div>


	</div>

	<footer th:replace="~{layouts/footer :: footer}"></footer>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>