<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="es">
<head>
<meta charset="UTF-8">
<title>listaMensaje</title>
<link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>
	<div class="encabezado">
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/navigation :: navigation}"></nav>		
	</div>
    
<!--  th:each="consejo : ${listaConsejo}" -->>      
    <div class="bodyServicios">
    	<div id="contenedorTabla">
        <table>
            <tr>
                <td id="encabezadoTabla">Nombre</td>
                <td id="encabezadoTabla">Email</td>
                <td id="encabezadoTabla">Ciudad</td>
                <td id="encabezadoTabla">Mensaje</td>
            <tr>
            <tr>
                <td id="formatoCelda">juan</td>
                <td id="formatoCelda">juan@gmail.com</td>
                <td id="formatoCelda">san salvador de jujuy</td>
                <td id="formatoCelda">hola como estas</td>
            <tr>
            <tr>
                <td id="formatoCelda"></td>
                <td id="formatoCelda"></td>
                <td id="formatoCelda"></td>
                <td id="formatoCelda"></td>
            <tr>
        </table>
    </div>
    </div>
    
    <div th:each="contacto : ${listaMensajes}">
           <p th:text="${contacto.nombre}">juan</p>
           <p th:text="${contacto.email}">jaun@gmail.com</p>
           <p th:text="${contacto.ciudad}">san salvador de jujuy</p>
           <p th:text="${contacto.mensaje}">hola como estas</p>
           
   
    </div>
    
    <footer th:replace="~{layouts/footer :: footer}"></footer>

</html>