<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Modificar Datos</title>
		<link rel="stylesheet" th:href="@{/css/estilos.css}">
	</head>
	<body>
		<div class="encabezado">
			<header th:replace="~{layouts/header :: header}"></header>
		</div>
		<form th:action="@{/servicioDePaseos/modificarDatos}" th:object="${ServicioDePaseo}" method="post"> <!-- th:action es el identificador para el PostMapping(/modificarDatos) |  th:object es el identificador para el GetMapping(/modificarDatos) y el PostMapping(/modificarDatos)-->
					<label for="paseador">Nombre del Paseador: </label>
					<input type="text" id="paseador" name="paseador" th:field="*{paseador}"><br>
					<label for="dia">Día: </label>
					<input type="text" id="dia" name="dia" th:field="*{dia}"><br>
					<label for="horario">Horario: </label>
					<input type="text" id="horario" name="horario" th:field="*{horario}"><br>
					<p><input type="submit" class="button" value="Guardar"></p>
				</form>
		<div>
			<a th:href="@{/servicioDePaseos/listado}" style="background-color: black">Cancelar</a>
		</div>
	</body>
</html>