<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="es">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" th:href="@{/css/estilos.css}">
    	<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
		<title>Modificar Datos</title>
	</head>
	<body>
		<div class="encabezado">
			<header th:replace="~{layouts/header :: header}"></header>
		</div>
		
			<div class="container-fluid" id="formServiciosBody">
				<div class="container">
					<div class="row col-12">
						<form id="formServicios" th:action="${edicion}?@{/servicioDePaseos/modificarDatos}:@{/servicioDePaseos/guardarDato}" th:object="${ServicioDePaseo}" method="post"> <!-- th:action es el identificador para el PostMapping(/modificarDatos) |  th:object es el identificador para el GetMapping(/modificarDatos) y el PostMapping(/modificarDatos)-->
							<div class="form-group">
								<label for="dato_paseador">Nombre del Paseador: </label>
								<input class="form-control" type="text" id="paseador" name="dato_paseador" th:field="*{paseador}">
							</div>
							<div class="form-group">
								<label for="dato_dia">Día: </label>
								<input class="form-control" type="text" id="dia" name="dato_dia" th:field="*{dia}">
							</div>
							<div class="form-group">
								<label for="dato_horario">Horario: </label>
								<input class="form-control" type="text" id="horario" name="dato_horario" th:field="*{horario}">
							</div>
							<div>
								<p><input id="formServiciosEnviar" type="submit" class="button" value="Guardar"></p>
							</div>
						</form>
					</div>
					<div class="row col-4">
						<a id="formServiciosCancelar" class="btn btn-secondary" th:href="@{/servicioDePaseos/listado}">Cancelar</a>
					</div>
				</div>
			</div>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</body>
</html>