<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang= "es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/css/estilos.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
	<title>Nuevo Consejos de Salud</title>
</head>
<body>
	<div id="container-salud">
	<div class="encabezado">
			<header th:replace="~{layouts/header :: header}"></header>
		</div>
		<section class="seccion-salud"  >
		
			
	<div class="container "><br>
		  <form class="container rounded" style="background-color: #F5F5F5" th:action="${edicion}?@{/ConsejoSalud/modificar_consejo} : @{/ConsejoSalud/guardar_consejo}" th:object="${Consejo}" method="post">
		    <h2 th:text="${edicion}?'Modificar Consejo':'Nuevo Consejo'"style="text-align: center; margin-bottom: 20px;"></h2>
		    <div class="mb-3">
		     <label for="img" class="form-label">imagen:</label>
			    <select id="img" class="form-select" name="img" th:field="*{img}" aria-label="Seleccione imagen">
				  
				 	<option value="../images/saludMascota.jpg">Imagen de salud 1</option>
			        <option value="../images/saludMascotas11.jpg">Imagen de salud 2</option>
			        <option th:value="*{img}"  th:if="${edicion}">imagen actual</option>
				</select>
			</div>
		 	
		    
		     <div class="mb-3" th:if="${edicion}? *{id}">
			    <label for="id" class="form-label">id:</label>
			    <input type="number" id="id" name="id" th:field="*{id}" class="form-control" >
			  </div>
		    
		     <div class="mb-3" >
			    <label for="titulo" class="form-label">Titulo:</label>
			    <input type="text" id="titulo" name="titulo" th:field="*{titulo}" class="form-control" >
			  </div>
		    
		    
		    <div class="mb-3">
			  <label for="descripcion" class="form-label">Consejo:</label>
			  <textarea class="form-control"  id="descripcion" name="descripcion" th:field="*{descripcion}"rows="3"></textarea>
			</div>
			
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			    <button type="submit" class="btn btn-success" th:text="${edicion}?'Modificar':' GUARDAR '"></button>
			    <a  class="btn btn-secondary " role="button" th:href="@{/ConsejoSalud/volver}"  >Cancelar</a>	
		   	</div>
		  </form>  
  
	</div>
	


		</section>
		
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</div>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>