<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/estilos.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
<title>Nueva sucursal</title>
</head>
<body class="container-fluid" style="background: rgb(242, 232, 196)">
	<div class="encabezado">
		<header th:replace="~{layouts/header :: header}"></header>
	</div>

	<section class="container rounded" style="background-color: #F5F5F5">
		<form th:action="${edicion} ? @{/sucursales/modificar} : @{/sucursales/guardar}" th:object="${sucursal}" method="post">
			<h2 style="text-align: center; margin-bottom: 20px;" th:text="${edicion} ? 'Modificar Sucursal' : 'Nueva Sucursal'"></h2>

			<div class="mb-3" th:if="${edicion} ? *{id}">
				<label for="id" class="form-label">Id:</label>
				<input type="hidden" id="id" name="id" th:field="*{id}" class="form-control">
			</div>
			<!-- Nombre sucursal -->
			<div class="mb-3">
				<label class="form-label" for="nombre">Nombre:</label>
				<input class="form-control" type="text" id="nombre" name="nombre" th:field="*{nombre}">
				<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
			</div>
			<!--Lugar sucursal-->
			<div class="mb-3">
				<label class="form-label" for="calle">Calle:</label>
				<input class="form-control" type="text" id="calle" name="calle" th:field="*{calle}">
				<div class="text-danger" th:if="${#fields.hasErrors('calle')}" th:errors="*{calle}"></div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="provincia">Selecciona una provincia:</label>
				<div class="text-danger" th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}"></div>
				<select id="provincia" name="provincia" th:field="*{provincia}">
					<option value="Buenos Aires">Buenos Aires</option>
					<option value="Córdoba">Córdoba</option>
					<option value="Santa Fe">Santa Fe</option>
				</select>
			</div>
			<!-- Horario de Atencion -->
			<div class="mb-3">
				<label class="form-label" for="diaApertura">Día de apertura:</label>
				<div class="text-danger" th:if="${#fields.hasErrors('diaApertura')}" th:errors="*{diaApertura}"></div>
				<select id="diaApertura" name="diaApertura" th:field="*{diaApertura}">
					<option th:each="dia : ${diasSemana}" th:value="${dia}" th:text="${dia}"></option>
				</select>
			</div>
			<div class="mb-3">
				<label class="form-label" for="diaCierre">Día de cierre:</label>
				<div class="text-danger" th:if="${#fields.hasErrors('diaCierre')}" th:errors="*{diaCierre}"></div>
				<select id="diaCierre" name="diaCierre" th:field="*{diaCierre}">
					<option th:each="dia : ${diasSemana}" th:value="${dia}" th:text="${dia}"></option>
				</select>
			</div>
			<div class="mb-3">
				<label class="form-label" for="horaApertura">Hora de apertura:</label>
				<input class="form-control" type="number" id="horaApertura" name="horaApertura" th:field="*{horaApertura}">
				<div class="text-danger" th:if="${#fields.hasErrors('horaApertura')}" th:errors="*{horaApertura}"></div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="horaCierre">Hora de cierre:</label>
				<input class="form-control" type="number" id="horaCierre" name="horaCierre" th:field="*{horaCierre}">
				<div class="text-danger" th:if="${#fields.hasErrors('horaCierre')}" th:errors="*{horaCierre}"></div>
			</div>
			<br>
			<div class="mb-3">
				<label class="form-label" for="telefono">Telefono:</label>
				<input class="form-control" type="text" min="0" max="50" id="telefono" name="telefono" th:field="*{telefono}">
				<div class="text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
			</div>
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<input class="btn btn-success" type="submit" th:value="${edicion}?'Modificar':'Guardar'"/>
				<a class="btn btn-secondary" th:href="@{/sucursales/listado}">Cancelar</a>
			</div>
		</form>

		<table class="table-sucursal">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Calle</th>
					<th>Provincia</th>
					<th>Horario</th>
					<th>Telefono</th>
					<th>Operaciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="sucursal1: ${sucursales}">
					<td	th:text="${sucursal1.id}"></td>
					<td th:text="${sucursal1.nombre}"></td>
					<td th:text="${sucursal1.calle}"></td>
					<td th:text="${sucursal1.provincia}"></td>
					<td
						th:text="${sucursal1.diaApertura} + ' a ' + ${sucursal1.diaCierre} + ' de ' + ${sucursal1.horaApertura} + ' a ' + ${sucursal1.horaCierre} + 'hs'">
					</td>
					<td th:text="${sucursal1.telefono}"></td>
	<!--				 Operaciones -->
					<td>
						<a class="btn btn-primary" th:href="@{/sucursales/modificar/{id}(id=${sucursal1.id})}" role="button">Editar</a>
						<a class="btn btn-danger" th:href="@{/sucursales/eliminar/{id}(id=${sucursal1.id})}" role="button">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
	<div class="piePagina">
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</div>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>