<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Nueva sucursal</title>
</head>
<body>
<!--<h3 th:text="${edicion} ? 'Modificar Producto' : 'Nuevo Producto'"></h3>-->
<!--<form method="post"-->
<!--	  th:action="${edicion ? '/sucursales/Op' : '/sucursales/nueva_sucursal'}"-->
<!--	  th:object="${sucursal}">-->
<!--<h3 th:text="Nuevo Producto"></h3>-->
<form method="post" th:action="@{/sucursales/guardar}" th:object="${sucursal}">
	<div>
		<label for="nombre">Nombre:</label>
		<input type="text" id="nombre" name="nombre" th:field="*{nombre}" required>
	</div>
	<!--Lugar sucursal-->
	<div>
		<label for="calle">Calle:</label>
		<input type="text" id="calle" name="calle" th:field="*{calle}" required>
	</div>
	<div>
		<label for="provincia">Selecciona una provincia:</label>
		<select id="provincia" name="provincia" th:field="*{provincia}" required>
			<option value="Buenos Aires">Buenos Aires</option>
			<option value="Córdoba">Córdoba</option>
			<option value="Santa Fe">Santa Fe</option>
		</select>
	</div>
	<!-- Horario de Atencion -->
	<div>
		<label for="diaApertura">Día de apertura:</label>
		<select id="diaApertura" name="diaApertura" th:field="*{diaApertura}">
			<option th:each="dia : ${diasSemana}" th:value="${dia}" th:text="${dia}"></option>
		</select>
	</div>
	<div>
		<label for="diaCierre">Día de cierre:</label>
		<select id="diaCierre" name="diaCierre" th:field="*{diaCierre}">
			<option th:each="dia : ${diasSemana}" th:value="${dia}" th:text="${dia}"></option>
		</select>
	</div>
	<div>
		<label for="horaApertura">Hora de apertura:</label>
		<input type="number" id="horaApertura" name="horaApertura" th:field="*{horaApertura}" min="0" max="23" required>
	</div>
	<div>
		<label for="horaCierre">Hora de cierre:</label>
		<input type="number" id="horaCierre" name="horaCierre" th:field="*{horaCierre}" min="0" max="23" required>

	</div>
	<br>


	<div>
		<label for="telefono">Telefono:</label>
		<input type="text" min="0" max="50" id="telefono" name="telefono" th:field="*{telefono}" required>
	</div>

	<input type="submit" th:value="Guardar"/>
</form>



<!-- 	<h1 th:text="${titulo}"></h1> -->
<!-- 	si el arreglo esta vacio muestra este mensaje -->
<!-- <div th:if="${muestraProductos.size()==0}">No hay productos registrados</div>-->
<!-- 	sino ejecuta el for each-->
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Calle</th>
				<th>Provincia</th>
				<th>Horario</th>
				<th>Telefono</th>
			</tr>

		</thead>
		<tbody>
			<tr th:each="sucursal: ${sucursales}">
				<td th:text="${sucursal.nombre}"></td>
				<td th:text="${sucursal.calle}"></td>
 				<td th:text="${sucursal.provincia}"></td>
				<td>
					<span th:text="'Horario: ' + ${sucursal.diaApertura} + ' a ' + ${sucursal.diaCierre} + ' de ' + ${#temporals.format(sucursal.horaApertura, 'HH:mm')} + ' a ' + ${#temporals.format(sucursal.horaCierre, 'HH:mm')} + 'hs'"></span>
				</td>
				<td th:text="${sucursal.telefono}"></td>
				<!-- Operaciones -->
<!--				<td>-->
<!--					<a th:href="@{/productos/Op/{nombre}(nombre=${producto.nombre})}">Editar</a>-->
<!--                    <a th:href="@{/productos/eliminar/{nombre}(nombre=${producto.nombre})}">Eliminar</a>-->
<!--				</td>-->
			</tr>
		</tbody>
	</table>

</body>
</html>