<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang= "es">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/css/estilos.css}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
<title>Nuevo producto</title>
</head>
<body>
<div id="container-salud">
	<div class="encabezado">
			<header th:replace="~{layouts/header :: header}"></header>
		</div>
		<section class="seccion-salud"  >
		
			
	<div class="container"><br>
		  <form class="container rounded" style="background-color: #F5F5F5" th:action="${edicion}?@{/producto/modificar_producto} : @{/producto/guardar_producto}" th:object="${Producto}" method="post">
		    <h2 th:text="${edicion}?'Modificar Producto':'Nuevo Producto'"style="text-align: center; margin-bottom: 20px;"></h2>
		    <div class="mb-3">
		      <label for="imagen" class="form-label">Seleccionar imagen:</label>
		      <select id="imagen" name="imagen" th:field="*{imagen}" class="form-select">
		        <option value="../images/producto3.jpg">Imagen de producto 1</option>
		        <option value="../images/producto4.jpg">Imagen de producto 2</option>
		        <option th:value="*{imagen}"  th:if="${edicion}">imagen actual</option>
		      </select>
		      <div class="text-danger" th:if="${#fields.hasErrors('imagen')}" th:errors="*{imagen}"></div>
		    </div>
		    
		 	<div class="mb-3" >
		 		<!-- La principal utilidad de utilizar hidden en formularios es ocultar campos que no deben ser visibles o 
		 		modificables por los usuarios, pero que aún se deben enviar al servidor cuando se envía el formulario. -->
		      <input  type="hidden" id="codigo" name="codigo" th:field="*{codigo}" class="form-control">
		    </div>
		    
		    <div class="mb-3">
		      <label for="nombre" style="display: block; font-weight: bold;">Nombre:</label>
		      <input type="text" id="nombre" name="nombre" th:field="*{nombre}" class="form-control">
     		   <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>		   
			</div>
		    
		     <div class="mb-3">
		      <label for="categoria" style="display: block; font-weight: bold;">Categoria:</label>
		      <select id="categoria" name="categoria" th:field="*{categoria}" class="form-control">
		      	<option th:each="categoria : ${Categorias}" th:text=${categoria.nombre} th:value="${categoria.id}"></option>
		      </select>
		     <!--  <input type="text" id="categoria" name="categoria" th:field="*{categoria}" class="form-control"> 
		     		   <div class="text-danger" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></div>-->		   
		    </div>
		    
		    <div class="mb-3">
		      <label for="precio" style="display: block; font-weight: bold;">Precio:</label>
		      <input type="number" id="precio" name="precio" th:field="*{precio}" class="form-control">
		     <div class="text-danger" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></div>		   
		    </div>
		    
		    <div class="mb-3">
		      <label for="descuento" style="display: block; font-weight: bold;">Descuento:</label>
		      <input type="number" id="descuento" name="descuento" th:field="*{descuento}" class="form-control">
		     <div class="text-danger" th:if="${#fields.hasErrors('descuento')}" th:errors="*{descuento}"></div>		   
		    </div>
		    
		  	 <div class="d-grid gap-2 d-md-flex justify-content-md-end">
 				<button type="submit" class="btn btn-success" th:text="${edicion}?'Modificar':'Guardar'"></button>
				<a class="btn btn-secondary " role="button" th:href="@{/producto/volver}" >Cancelar</a>		
			</div>
		  </form>  
		 

		  
</div>
		</section>
		
		<footer th:replace="~{layouts/footer :: footer}"></footer>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</div>			
	
</body>
</html>