<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<header>
	<h1>Listas de Frutas</h1>
</header>

<body>
<ul>
		<li>
			<img src="ruta/de/la/imagen1.jpg" alt="Producto-Mandarina">
			<h3>Mandarina</h3>
			<p>Es una fruta cítrica de piel fina y color naranja brillante, con un sabor dulce y ácido a la vez. Es rica en vitamina C y contiene propiedades antioxidantes y antiinflamatorias..</p>
		</li>
		<li>
			<img src="ruta/de/la/imagen1.jpg" alt="Producto-Limon">
			<h3>Limon</h3>
			<p>Es una fruta cítrica de piel amarilla o verde, con un sabor ácido y refrescante. Es rica en vitamina C y se utiliza comúnmente como ingrediente en la cocina y en bebidas.</p>
		</li>
		<li>
			<img src="ruta/de/la/imagen1.jpg" alt="Producto-Anana">
			<h3>Anana</h3>
			<p>Es una fruta tropical grande y ovalada, con una piel dura y escamosa y una pulpa amarilla dulce y jugosa. Es rica en vitamina C y enzimas digestivas que ayudan a la digestión..</p>
		</li>
		<li>
			<img src="ruta/de/la/imagen1.jpg" alt="Producto-Frutilla">
			<h3>Frutilla</h3>
			<p>Es una pequeña fruta roja y jugosa, con un sabor dulce y ligeramente ácido. Es rica en vitamina C, antioxidantes y fibra, y se utiliza en una amplia variedad de postres y recetas.</p>
		</li>
		<li>
			<img src="ruta/de/la/imagen1.jpg" alt="Producto-Cereza">
			<h3>Cereza</h3>
			<p>Es una pequeña fruta redonda de piel brillante y sabor dulce y ligeramente ácido. Es rica en antioxidantes y contiene propiedades antiinflamatorias. Las cerezas se consumen frescas o se utilizan como ingrediente en una variedad de postres y bebidas.</p>
		</li>
		
	</ul>
</body>
</html>