<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang= "es">
<head>
  <meta charset="UTF-8">
  <title>Productos</title>
  <link rel="stylesheet" th:href="@{/css/estilos.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="encabezado">
	<header th:replace="~{layouts/header :: header}"></header>
	<nav th:replace="~{layouts/navigation :: navigation}"></nav>
</div>

<main class="container-productos">
	<h2 class="productos-titulo">PRODUCTOS</h2>
	<div class="botonAgregar">
		<a th:href="@{nuevo_producto}">Agregar Producto</a>
	</div>
	<section class="productos">
		<!--Productos-->
		<div class="producto" th:each="producto : ${productos}">
			<div class="producto-img">
				<img src="../static/images/producto1.jpg" alt="Producto alimento para perro" title="Producto alimento para perro">
			</div>
			<div class="producto-info">
				<h3 class="producto-nombre" th:text="${producto.nombre}"></h3>
				<div th:if="${producto.descuento == 0}">
					<p class="producto-precio" th:text="${producto.precio}"></p>
				</div>
				<div th:if="${producto.descuento != 0}">
					<del class="producto-precio" th:text="${producto.precio}"></del> <span class="producto-precio" th:text="${producto.calcularDescuento()}"></span>
				</div>
			</div>
		</div>
	</section>
</main>
<footer th:replace="~{layouts/footer :: footer}"></footer>
</body>

</html>