<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="es">
<head>
<meta charset="UTF-8">
<title>Servicios de paseo</title>
<link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>

    <div class="encabezado">
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/navigation :: navigation}"></nav>
	</div>
    <div class="bodyServicios">
    	<div id="contenedorTabla">
    	<a th:href="@{/servicioDePaseos/nuevoServicio}">Nuevo Servicio</a>
        <table>
            <tr>
                <td id="encabezadoTabla">Paseador</td>
                <td id="encabezadoTabla">Día</td>
                <td id="encabezadoTabla">Hora</td>
            </tr>
            <tr th:each="servicio : ${servicios}">
            	<td id="formatoCelda" th:text="${servicio.paseador}"></td>
                <td id="formatoCelda" th:text="${servicio.dia}"></td>
                <td id="formatoCelda" th:text="${servicio.horario}"></td>
                <td>
                	<a th:href="@{/servicioDePaseos/modificarDatos/}+${servicio.paseador}">Modificar</a>
                	<a th:href="@{/servicioDePaseos/eliminarDatos/}+${servicio.paseador}">Eliminar</a>
                </td>
            </tr>
        </table>
    </div>
    </div>
    <footer th:replace="~{layouts/footer :: footer}"></footer>
</body>

</html>