<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Servicios de paseo</title>
<style>
        html {
            text-align: center;
        }

        li {
            display: inline-block;
            list-style: none;
            padding: 5px;
        }
    </style>
</head>

<body>

    <header>
        <h1>Servicios de Paséo</h1>
        <img src="../static/images/logoUnju.png" alt="Logo de la facultad" title="Logo">
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Index</a></li>
            <li><a href="Productos.html">Productos</a></li>
            <li><a href="ServicioDePaseos.html">Servicio de paseos</a></li>
            <li><a href="consejoSalud.html">Consejos de Salud</a></li>
            <li><a href="sucursales.html">Sucursales</a></li>
            <li><a href="Contacto.html">Contáctenos</a></li>
        </ul>
    </nav>
    <div style="width: 80%; margin: auto;">
        <table border="1" style="display: inline-block;">
            <tr>
                <td>Día</td>
                <td>Lunes</td>
                <td>Martes</td>
                <td>Miércoles</td>
                <td>Jueves</td>
                <td>Viernes</td>
                <td>Sábado</td>
            <tr>
            <tr>
                <td>Horario</td>
                <td>9 a 12 - 16 a 18</td>
                <td>9 a 12 - 16 a 18</td>
                <td>9 a 12 - 16 a 18</td>
                <td>9 a 12 - 16 a 18</td>
                <td>9 a 12 - 16 a 18</td>
                <td>9 a 12 - 16 a 18</td>
            <tr>
            <tr>
                <td>Paseador</td>
                <td>Juan Perez</td>
                <td>Lucas Diaz</td>
                <td>Juan Perez</td>
                <td>Maria Gomez</td>
                <td>Lucas Diaz</td>
                <td>Roberto Vazquez</td>
            <tr>
        </table>

    </div>

    <footer style="margin-top:50px; text-align:center;">Copyright 2023 - El mundo de las mascotas - Diseñado por Grupo 01 -
        Jujuy - República Argentina</footer>
</body>

</html>