<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sucursales</title>
</head>
<header>
	<h1>Nuestras Sucursales</h1>
</header>	
	
<body>
<nav>
			<a href="index.html">Index</a> |
			<a href="Productos.html">Productos</a> |
			<a href="ServicioDePaseos.html">Servicio de Paseos</a> |
			<a href="consejoSalud.html">Consejos de Salud</a> |
			<a href="sucursales.html">Sucursales</a> |
			<a href="Contacto.html">Contáctenos</a>
</nav>
<section>

<ul>
	<li>
		<h3>Sucursal Humberto 1°</h3>
		<p>CASTRO BARROS 1639 | Córdoba Capital | Córdoba</p>
		<p>Horario: Lunes a Viernes de 9 a 17hs y Sábados de 8 a 12hs.</p>
		<p> 0800 123 4567</p>
	</li>
	<li>
		<h3>Sucursal Cerro 1°</h3>
		<p>AV. RAFAEL NUÑEZ 4460 | Córdoba Capital | Córdoba</p>
		<p>Horario: Lunes a Viernes de 9 a 17hs.</p>
		<p> 0800 123 4567</p>
	</li>
	<li>
		<h3>Sucursal Nuevo Mundo 1°</h3>
		<p>SAN MARTÍN 1600 | Villa Carlos Paz | Córdoba</p>
		<p>Horario: Lunes a Viernes de 9 a 17hs.</p>
		<p> 0800 123 4567</p>
	</li>
	<li>
		<h3>Sucursal Nueva Cordoba 1°</h3>
		<p>AV. 9 DE SEPTIEMBRE 25 | RIO TERCERO | Córdoba</p>
		<p>Horario: Lunes a Viernes de 9 a 17hs y Sábados de 8 a 12hs.</p>
		<p> 0800 123 4567</p>
	</li>
	<li>
		<h3>Sucursal San Lorenzo 1°</h3>
		<p>RUTA "A" 005 1980, KM 4,1 | RIO CUARTO | Córdoba</p>
		<p>Horario: Lunes a Viernes de 9 a 17hs.</p>
		<p> 0800 123 4567</p>
	</li>
</ul>

</section>


</body>
</html>