<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Sucursales</title>
	<link rel="stylesheet" href="../static/css/estilos.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--
	<style>
		html{
			text-align: center;
		}
		li {
			display: inline-block;
			list-style: none;
			padding: 5px;
		}
	</style>
	-->
</head>


<header>
	<h1>Tienda de Mascotas</h1>
	<img src="../static/images/logoUnju.png" alt="Logo de la facultad" title="Logo">
</header>


<body>
<nav>
	<ul>
		<li><a href="index.html">Index</a></li>
		<li><a href="Productos.html">Productos</a></li>
		<li><a href="ServicioDePaseos.html">Servicio de paseos</a></li>
		<li><a href="consejoSalud.html">Consejos de Salud</a></li>
		<li><a href="sucursales.html">Sucursales</a></li>
		<li><a href="Contacto.html">Contáctenos</a></li>
	</ul>
</nav>
<h2>Sucursales</h2>
<section class="sucursales">
	<article class="sucursal-mapa">
		<img src="../static/images/sucursalesMapa.png" alt="mapa de las sucursales">
	</article>
<div class="sucursales-contenido scroll">

	<article class="sucursal">
		<h3 class="sucursal-nombre">Sucursal Humberto 1°</h3>
		<p class="sucursal-calle">CASTRO BARROS 1639 | Córdoba Capital | Córdoba</p>
		<p class="sucursal-horario">Horario: Lunes a Viernes de 9 a 17hs y Sábados de 8 a 12hs.</p>
		<p class="sucursal-tel"> 0800 123 4567</p>
	</article>
	<article class="sucursal">
		<h3 class="sucursal-nombre">Sucursal Cerro 1°</h3>
		<p class="sucursal-calle">AV. RAFAEL NUÑEZ 4460 | Córdoba Capital | Córdoba</p>
		<p class="sucursal-horario">Horario: Lunes a Viernes de 9 a 17hs.</p>
		<p class="sucursal-tel"> 0800 123 4567</p>
	</article>
	<article class="sucursal">
		<h3 class="sucursal-nombre">Sucursal Nuevo Mundo 1°</h3>
		<p class="sucursal-calle">SAN MARTÍN 1600 | Villa Carlos Paz | Córdoba</p>
		<p class="sucursal-horario">Horario: Lunes a Viernes de 9 a 17hs.</p>
		<p class="sucursal-tel"> 0800 123 4567</p>
	</article>
	<article class="sucursal">
		<h3 class="sucursal-nombre">Sucursal Nueva Cordoba 1°</h3>
		<p class="sucursal-calle">AV. 9 DE SEPTIEMBRE 25 | RIO TERCERO | Córdoba</p>
		<p class="sucursal-horario">Horario: Lunes a Viernes de 9 a 17hs y Sábados de 8 a 12hs.</p>
		<p class="sucursal-tel"> 0800 123 4567</p>
	</article>
	<article class="sucursal">
		<h3 class="sucursal-nombre">Sucursal San Lorenzo 1°</h3>
		<p class="sucursal-calle">RUTA "A" 005 1980, KM 4,1 | RIO CUARTO | Córdoba</p>
		<p class="sucursal-horario">Horario: Lunes a Viernes de 9 a 17hs.</p>
		<p class="sucursal-tel"> 0800 123 4567</p>
	</article>
</div>
</section>
<footer><p>Copyright 2023 - El mundo de las mascotas - Diseñado por Grupo 01 -
	Jujuy - República Argentina</p></footer>
</body>

</html>