<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang= "es">
<head>
	<meta charset="UTF-8">
	<title>Sucursales</title>
	<link rel="stylesheet" th:href="@{/css/estilos.css}">
<!--	Import icon engranaje-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="encabezado">
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/navigation :: navigation}"></nav>
	</div>

<div class="container-sucursales">
	<div class="columns-sucursales">
		<h2 class="sucursal-titulo">Sucursales</h2>

		<a class="gear-button" th:href="@{/sucursales/nuevo}" title="Editar Sucursales">
			<i class="fas fa-cog"></i>
		</a>
		<section class="sucursales">
		<div class="sucursales-contenido scroll">
			<article class="sucursal" th:each="sucursal2: ${sucursales}">
				<h3 class="sucursal-nombre" th:text="${sucursal2.nombre}"></h3>
				<p class="sucursal-calle" style="text-transform: uppercase" th:text="${sucursal2.calle + ' | ' + sucursal2.provincia}"></p>
				<p class="sucursal-horario" th:text="'Horario: ' + ${sucursal2.diaApertura} + ' a ' + ${sucursal2.diaCierre} + ' de ' + ${sucursal2.horaApertura} + ' a ' + ${sucursal2.horaCierre} + 'hs'"></p>
				<p class="sucursal-tel" th:text="${sucursal2.telefono}"></p>
			</article>
		</div>
		<div class="sucursal-mapa" style="display: contents">
			<img th:src="@{../../images/sucursalesMapa.png}" alt="imagen mapa sucursales">
		</div>
		</section>
	</div>
</div>
		<div class="piePagina">
			<footer th:replace="~{layouts/footer :: footer}"></footer>
		</div>
</body>

</html>