/**@charset "ISO-8859-1";*/

*{
	font-family: 'Comic Neue', sans-serif;
	margin: 0;
	padding: 0;
}

.encabezado {
	background-color: #8D7B68;
	text-align: center;
	padding: 10px;
	overflow: auto;
}

.encabezado h1 {
	padding-bottom: 20px;
	text-transform: uppercase;
	color: white;
	padding-top: 20px;
	font-family: 'Comic Neue', cursive;
	
}

#logo {
	border-radius: 10px;
	border: solid;
	border-color: #746556;
	animation: aparicionLogo 2s forwards;
}

li {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	border: solid;
	padding: 10px;
	border-radius: 10px;
	border-color: #746556;
	animation: aparicionBtn 2s forwards;
}
li.gestionDeDatos {
	display: inline;
	margin-left: 0px;
	margin-right: 0px;
	border: none;
	padding: 0px;
	border-radius: 0px;
	border-color: white;
	animation: none;
	background-color: #746556;
	color: white;
}
ul.dropdown-menu{
	background-color: #f2e8c4;
	
	

}

a {
	text-transform: uppercase;
	text-decoration: none;
	color: white;	
}

.nav-link {
	color:white;
}

li:hover, li:active {
	background-color: #746556;
 	color: #ffff;
}

footer {
	text-align: center;
	padding: 20px;
	background-color: #8D7B68;
	color: white;
	font-style: italic;
	border: solid medium black;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: none;
}

.nav{
	padding-top: 10px;
	--bs-nav-link-hover-color: white;
}

@keyframes aparicionLogo{
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes aparicionTitulo{
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes aparicionBtn{
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}


/* Inicio css consejoSalud*/
#container-salud .seccion-salud{
	background-color: #f2e8c4;
	margin-bottom : 0;
	text-align: center;
	padding-bottom: 1%;
	font-family: 'Comic Neue', cursive;
}
#container-salud .seccion-salud img{
	/*width :70%;*/
	height: 360px;
	/*border-radius : 12px;*/
	
}

#container-salud .seccion-salud h2{
	padding-top: 25px;
	font-size: 40px;
}
#container-salud .articulo-salud{
	background-color:#f7f8fc;
	border-radius : 12px; 
	/*margin: 13%;*/
	margin-top: 2%;
	padding: 15px;
	margin-bottom: 0;
	
}

#container-salud .articulo-salud h3,h4{
	text-align:left;

	padding: 5px;
	padding-top: 15px;
	font-size: 25px;
}
#container-salud .articulo-salud p{
	color:#55617e;
	text-align:left;
	padding: 10px;
	font-size: 20px;
}/* Fin css consejoSalud*/

/*---PRODUCTOS---*/
.caja-productos{
	/*font-size: 62.5%;
	max-width: 120rem;
	margin: 0 auto;*/
	background-color:#f2e8c4;font-family: 'Comic Neue', cursive;
}
/*@media (min-width: 768px) {
	.container-productos{
		grid-template-columns: repeat(3, 1fr);
	}
}*/
.productos-titulo{
	text-align: center;
	padding-top: 1rem;
	font-size: 2.5rem;
	text-transform: uppercase;
	margin: 0 13%;
}
/*.productos{
	display: grid;
	gap: 3rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	text-transform: uppercase;
	padding: 3rem 0;
	margin: 0 13%;
}
.producto{
	background-color: rgb(247,247,247);
	padding: 1rem 2rem;
	border-radius: 0.7rem;
	cursor: pointer;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
}

.producto-img{
	position: relative;
  transition:transform 0.25s ease;
}
.producto-img img{
	width: 100%;
}*/

.producto-nombre, .producto-precio{
	text-align: center;
	margin: 1rem;
}

.producto-nombre{
	font-size: 1.4rem;
}

.producto-precio{
	font-size: 2rem;
	font-weight: 700;
}
.producto-precio del{
	font-size: 1.3rem;
	margin-right: 1rem;
}

/*--- SUCURSALES ---*/
.container-sucursales{
	font-size: 62.5%; /*1rem = 10px*/;
	background-color:#f2e8c4;
	padding: 2rem 2rem 120px;

}
.sucursal-titulo{
	font-size: 2.5rem;
	text-transform: uppercase;
}

.container-sucursales {
	background-color: #f2e8c4;
	padding: 2rem 2rem 120px;
}

.margen-columnas {
	margin: 8px;
}

.sucursal-container-mapa {
	width: 100%;
	height: 480px;
	overflow: hidden;
}

.sucursal-mapa {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width: 968px) {
	.sucursal-container-mapa {
		height: 500px;
	}
}

@media screen and (min-width: 968px) {
	.col-lg-9 {
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
	}
	.col-lg-3 {
		flex-basis: 0;
		flex-grow: 1;
		max-width: 286px;
	}

	.sucursal-scroll {
		max-height: 490px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}
.sucursal-contenido{
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
	background-color: rgb(247,247,247);;
	border-color: #f2e8c4;
	margin: 0 0 0.5rem;
	padding: 16px;
}
.sucursal-calle, .sucursal-horario{
	font-size: 14px;

}
.sucursal-nombre{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 10px;
}
.sucursal-horario{
	font-weight: 600;
	padding-top: 6px;
}
.sucursal-calle{
	font-weight: 700;
	margin: 0;
	color: #6E6E6E;
}
.sucursal-tel{
	font-size: 12px;
	font-style: normal;
	line-height: 16px;
	color: #6E6E6E;
}

/**INDEX*/

.cuerpo {
	display: flex;
}
.cuerpo section {
	width: 80%;
	float: left;
	background-color: #f2e8c4;
	border-style: solid;
	border-bottom-style: none;
}

.cuerpo aside {
	width: 20%;
	float: right;
	background-color: #f2e8c4;
	text-align: center;
	border-style: solid;
	border-left-style: none;
	border-bottom-style: none;
}

.cuerpo aside #frase {
	margin-top:80%;
}

.cuerpo aside:nth-child(n){
	font-style:oblique;
	font-weight: bold;
}

.cuerpo section article:nth-child(n) {
	text-align: center;
}

.cuerpo section article h2 {
	text-transform: uppercase;
}

.cuerpo section article {
	padding: 2%;
	border-style: solid;
	margin: 3%;
}

.piePagina {
	clear: both;
}

/** Style-ServiciosDePaseo.html - Burgoz Javier. A ---*/

#contenedorTabla {
    margin: auto;
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    padding-top: 20px;
}

#contenedorTabla td {
    padding: 10px;
    text-align: center;
    font-family: 'Comic Neue', cursive;
    color: #E1E1E1;
    border-radius: 10px;
}
#encabezadoTabla {
    /**border: 3px solid #8a6f50;*/
    background-color: #8D7B68;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #E1E1E1;
    border-radius: 10px;
}
#formatoCelda {
    background-color: #aa9f94;
}

.bodyServicios {
	background-color: #f2e8c4;
}

/**--- Style-Contacto.html - Burgoz Javier. A ---*/

/** Estilos para el contenedor principal */
.contacto {
    border: 3px solid #8a6f50;
    background-color: #aa9f94;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    text-align: left;
    font-family: Arial, sans-serif;
}

.bodyContacto {
	background-color: #f2e8c4;
}

/** Estilos para el título */
.contacto h1 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
/** Estilos para la información de contacto */
.contacto p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
/** Estilos para las redes sociales */
.contacto .redes-sociales {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.contacto .redes-sociales li {
    margin: 0 10px;
}
.contacto .redes-sociales a {
    display: block;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease;
}
.contacto .redes-sociales a:hover {
    color: #fff;
}
/** Estilos para el formulario */
.contacto form {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.contacto form label {
    display: block;
    margin-top: 15px;
}

#mensaje {
	font-size: 14pt;
}

.botonAgregar {
	text-align: center;
	padding-top: 10px;
}
@media (max-width: 768px) {
  .redes-sociales {
    flex-wrap: wrap;
  }
  .redes-sociales li {
    margin: 5px;
  }
}

/*Icono engranaje sucursales*/
.gear-button {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 24px;
	color: #333;
	padding-bottom: 1rem;
	display: flex;
	justify-content: flex-end;
	margin-right: auto;
	padding-left: 2.5rem;
}

/* Estilos para el contenedor del formulario */

#container-form {
	max-width: 600px;
	margin: 0 auto;
	background-color: #f2f2f2;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/* Estilos para el encabezado */
.encabezado {
	text-align: center;
}

/* Estilos para la sección del formulario */
.seccion-form {
	margin-bottom: 20px;
}

/* Estilos para el formulario */
.formulario label {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}

.formulario input,
.formulario select,
.formulario textarea {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
}

/* Estilos para los botones */
.formulario button {
	display: block;
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}

/* Estilos para la tabla */
.table-sucursal {
	width: 70%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

.table-sucursal th,
.table-sucursal td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ccc;
}

.table-sucursal th {
	background-color: #f2f2f2;
}

.table-sucursal td a {
	margin-right: 5px;
	text-transform: none;
	font-family: sans-serif;
	margin-right: 74%;
	margin-top: 2%;
	display: block;
	background-color: red;
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}
#botonServicios {
	color: black;
	margin: 10px;
	padding: 10px;
	background-color: #8D7B68;
	border-radius: 10px;
	text-align: center;
}
#botonNuevoServicio {
	color: black;
	background-color: #8D7B68;
	border-radius: 10px;
	text-align: center;
	margin-top: 10px;
}
#formServiciosBody {
	background-color: #f2e8c4;
}
#formServicios {
	background-color: #ccc;
	margin: 30px;
	margin-bottom: 10px;
	padding: 20px;
	border-style: solid;
}
#formServiciosEnviar{
	margin-top:15px;
}
#formServiciosCancelar {
	margin-left: 29px;
	margin-bottom: 10px;
}


