/**@charset "ISO-8859-1";*/
*{
	margin: 0;
	padding: 0;
}

.encabezado {
	background-color: #8D7B68;
	text-align: center;
	padding: 10px;
	overflow: auto;
	
}

.encabezado h1 {
	padding-bottom: 20px;
	text-transform: uppercase;
	color: white;
	padding-top: 20px;
	font-family: 'Comic Neue', cursive;
	
}

#logo {
	border-radius: 10px;
	border: solid #746556;
	animation: aparicionLogo 2s forwards;
}

li {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	border-radius: 10px;
	border: solid #746556;
	animation: aparicionBtn 2s forwards;
}

a {
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	
}

li:hover, li:active {
	background-color: #746556;
 	color: #ffff;
}

nav {
	display: flex;
	justify-content: center;
	padding: 30px;
}

footer {
	text-align: center;
	padding: 20px;
	background-color: #8D7B68;
	color: white;
	font-style: italic;
}

@keyframes aparicionLogo{
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes aparicionTitulo{
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes aparicionBtn{
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}


/* Inicio css consejoSalud*/
#container-salud .seccion-salud{
	background-color: #f2e8c4;
	margin-bottom : 0;
	text-align: center;
	padding-bottom: 1%;
	font-family: 'Comic Neue', cursive;
}
#container-salud .seccion-salud img{
	width :70%;
	height: 360px;
	border-radius : 12px;
	
}

#container-salud .seccion-salud h2{
	padding-top: 25px;
	font-size: 40px;
}
#container-salud .articulo-salud{
	background-color:#f7f8fc;
	border-radius : 12px; 
	margin: 13%;
	margin-top: 2%;
	padding: 15px;
	margin-bottom: 0;
	
}

#container-salud .articulo-salud h3,h4{
	text-align:left;

	padding: 5px;
	padding-top: 15px;
	font-size: 25px;
}
#container-salud .articulo-salud p{
	color:#55617e;
	text-align:left;
	padding: 10px;
	font-size: 20px;
}/* Fin css consejoSalud*/

/*---PRODUCTOS---*/
.container-productos{
	font-size: 62.5%; /*1rem = 10px*/
	max-width: 120rem;
	margin: 0 auto;
	background-color:#f2e8c4;
}
@media (min-width: 768px) {
	.container-productos{
		grid-template-columns: repeat(3, 1fr);
	}
}
.productos{
	display: grid;
	gap: 3rem;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	text-transform: uppercase;
	padding: 3rem 0;
	margin: 0 13%;
}
.producto{
	background-color: rgb(247,247,247);
	padding: 1rem 2rem;
	border-radius: 0.7rem;
	cursor: pointer;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
}

.producto-img{
	position: relative;
  transition:transform 0.25s ease;
}
.producto-img img{
	width: 100%;
}
.producto:hover {
	/*transform: scale(1.1);*/
}
.producto-nombre, .producto-precio{
	text-align: center;
	margin: 1rem;
}

.producto-nombre{
	font-size: 1.4rem;
}

.producto-precio{
	font-size: 2rem;
	font-weight: 700;
}
.producto-precio del{
	font-size: 1.3rem;
	margin-right: 1rem;
}

/*--- SUCURSALES ---*/

.sucursales{
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;

}
.sucursales h2{
	display: inline-block;
}

.sucursales-contenido{
	display: flex;
	background: #FFFFFF;
	border: 1px solid #E1E1E1;
	border-radius: 8px;
	padding: 18px 0;
	width: auto;
	transition: all ease 0.2s;
	margin-bottom: 12px;
	margin-right: 0 !important;
	max-height: fit-content;
	align-items: center;
	justify-content: center;
}
@media (min-width: 768px) {
	.sucursales-contenido{
		grid-template-columns: repeat(3, 1fr);
	}
}
.scroll{
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 350px;
	height: 200px;
	overflow-y: scroll;
	scroll-behavior: smooth;
}
.sucursal{
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
	border-color: #f2e8c4;
	padding: 1rem;
	margin: 2rem;

}
.sucursal-mapa {
	display: flex;
	flex-direction: row-reverse;
	position: relative;
	width: 100%;
	max-width: 73.5rem;
	margin: 0;
	gap: 1rem;
}

.sucursal-nombre,.sucursal-calle , .sucursal-tel, .sucursal-horario{
	padding: 0.5rem;
}
.sucursal-nombre,.sucursal-horario{
	font-weight: bold;
}
.sucursal-nombre{
	padding: 1.2rem;
	text-transform: uppercase;
}
.sucursal-horario{
	font-size: 1.1rem;
}

/**INDEX*/

.cuerpo {
	display: flex;
}
.cuerpo section {
	width: 80%;
	float: left;
	background-color: #f2e8c4;
	border-style: solid;
}

.cuerpo aside {
	width: 20%;
	float: right;
	background-color: #f2e8c4;
	text-align: center;
	border-style: solid;
	border-left-style: none;
}

.cuerpo aside #frase {
	margin-top:80%;
}

.cuerpo aside:nth-child(n){
	font-style:oblique;
	font-weight: bold;
}

.cuerpo section article:nth-child(n) {
	text-align: center;
}

.cuerpo section article h2 {
	text-transform: uppercase;
}

.cuerpo section article {
	padding: 2%;
	border-style: solid;
	margin: 3%;
}

.piePagina {
	clear: both;
}

/** Style-ServiciosDePaseo.html - Burgoz Javier. A ---*/

#contenedorTabla {
    padding-top: 30px;
    margin: auto;
    width: 50%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}
#contenedorTabla td {
    padding: 20px;
    text-align: center;
    font-family: 'Comic Neue', cursive;
    color: #E1E1E1;
    border-radius: 10px;
}
#encabezadoTabla {
    border: 3px solid #8a6f50;
    background-color: #8D7B68;
    font-size: 20px;
    font-weight: bold;
}
#formatoCelda {
    background-color: #aa9f94;
}

/**--- Style-Contacto.html - Burgoz Javier. A ---*/

/** Estilos para el contenedor principal */
.contacto {
    border: 3px solid #8a6f50;
    background-color: #aa9f94;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    text-align: left;
    font-family: Arial, sans-serif;
}
/** Estilos para el título */
.contacto h1 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
/** Estilos para la información de contacto */
.contacto p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
/** Estilos para las redes sociales */
.contacto .redes-sociales {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.contacto .redes-sociales li {
    margin: 0 10px;
}
.contacto .redes-sociales a {
    display: block;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    transition: all 0.3s ease;
}
.contacto .redes-sociales a:hover {
    color: #fff;
}
/** Estilos para el formulario */
.contacto form {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.contacto form label {
    display: block;
    margin-bottom: 10px;
}