@charset "ISO-8859-1";
*{
	margin: 0;
	padding: 0;
	
}














































































































































































































































































































































































































































































































html{
	font-size: 62.5%; /*1rem = 10px*/
	box-sizing: border-box;

}
*. *:before, *:after{
	box-sizing: inherit;
}


.productos{
	max-width: 120rem;
	margin: 0 auto;
	text-transform: uppercase;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}
@media (min-width: 768px) {
	.productos{
		grid-template-columns: repeat(3, 1fr);
	}
}
.producto{
	background-color: rgb(247,247,247);
	padding: 1rem;
}
.producto-img{
	width: 100%;
}
.producto-nombre, .producto-precio{
	text-align: center;
	margin: 1rem;
}

.producto-nombre{
	font-size: 3.5rem;
}

.producto-precio{
	font-size: 2.3rem;
}

/*--- SUCURSALES ---*/

.sucursales{
	max-width: 120rem;
	margin: 0 auto;
}
.sucursal-mapa{
	width: 100%;
	height: 300px;
}
@media only screen and (max-width: 480px) {
	.sucursal-mapa {
		width: 100%;
	}
}
.sucursal{
	box-sizing: border-box;
}
.sucursal-calle, .sucursal-tel{
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;
}


